footer.footer
	.container
		.row.no-gutters.justify-content-between
			.footer-item
				h4.footer-title О магазине
				ul.footer-menu
					li
						a(href="#") Новости
					li
						a(href="#") Вакансии
					li
						a(href="#") Сотрудничество
					li
						a(href="#") Реквизиты
					li
						a(href="#") Контакты
			.footer-item
				h4.footer-title Условия покупки
				ul.footer-menu
					li
						a(href="#") Как купить
					li
						a(href="#") Оплата товара
					li
						a(href="#") Доставка товара
					li
						a(href="#") Гарантия на товар
			.footer-item
				h4.footer-title Информация
				ul.footer-menu
					li
						a(href="#") Сервисный центр
					li
						a(href="#") Конфидициальность
					li
						a(href="#") Статьи
			.footer-item
				h4.footer-title Контакты
				.footer-contacts
					div +7 (499) 281-67-83
					div +7 (495) 669-3-559
					div 121170, г. Москва, ул. Поклонная,
					div д.11 стр.1, офис 16,
					div м.Парк Победы.
			.footer-item
				h4.footer-title Способы оплаты
				.paypal
					a(href="#").paypal__item
						img(src="images/visa.png", alt="")
					a(href="#").paypal__item
						img(src="images/mastercard.png", alt="")
					a(href="#").paypal__item
						img(src="images/qiwi.png", alt="")
					a(href="#").paypal__item
						img(src="images/sber-online.png", alt="")
					a(href="#").paypal__item
						img(src="images/money.png", alt="")
					a(href="#").paypal__item
						img(src="images/folder.png", alt="")
					a(href="#").paypal__item
						img(src="images/sber.png", alt="")