.product__item
	.product__rating
		img(src="images/stars.png", alt="")
	.product__img.row.no-gutters.align-items-center
		div
			a(href="#")
				img(src="images/p-img.png", alt="")
	a(href="#")
		.product__name Телескопические направляющие 100%
	.product__articul Артикул: 1017838
	.product__price 
		span 560.00 
		| руб./шт.
	.product__status.status-in
		.middle
			img(src="images/svg/checked.svg", width="22" alt="")
		.middle В наличии 2
	.product__footer
		.counter
			a(href="#").counter-btn -
			input(type="text" value="1").counter-field
			a(href="#").counter-btn +
		a(href="#").btn.btn-blue В корзину