extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		nav.nav.hidden-md
			.container
				ul.nav__menu
					li
						a(href="#") Производители 
					li
						a(href="#") О компании 
					li
						a(href="#") Новости
					li
						a(href="#") Контакты
		.content
			.container
				.row.no-gutters.justify-content-between
					.sidebar
						.sidebar__nav
							.sidebar__btn 
								span.middle.sidebar__btn__icon
									img(src="images/svg/menu.svg", alt="")
								span.middle Каталог запчастей
							.sidebar__nav__content
								ul.sidebar__menu
									li
										a(href="#") CANDY TRIO
									li
										a(href="#") Электрические водонагреватели
								.sidebar__title Бренды
								ul.sidebar__menu
									li
										a(href="#") Aquatek
									li
										a(href="#") Ariston
									li
										a(href="#") ASKO
								.sidebar__link 
									a(href="#") Показать все бренды
						.sidebar__news.hidden-md
							h2.item-title Новости
							.sidebar__news__item
								.sidebar__news__date 3 Апреля 2018
								.sidebar__news__title
									a(href="#") WorldBuild Moscow/MosBuild 2018
							.sidebar__news__item
								.sidebar__news__date 3 Апреля 2018
								.sidebar__news__title
									a(href="#") WorldBuild Moscow/MosBuild 2018
							.sidebar__news__item
								.sidebar__news__date 3 Апреля 2018
								.sidebar__news__title
									a(href="#") WorldBuild Moscow/MosBuild 2018
						a(href="#").link-item.hidden-md Показать все новости
						.widget.hidden-md(style="position: relative; left: -30px")
							img(src="images/socity-img-1.PNG", alt="")
						.widget.hidden-md(style="position: relative; left: -20px")
							img(src="images/socity-img-2.PNG", alt="")
						.widget.hidden-md(style="position: relative; left: -10px")
							img(src="images/socity-img-3.PNG", alt="")
					.center-content
						ul.breadcrumb
							li
								a(href="#").middle Главная
								span.middle.breadcrumb__delimiter
									i.zmdi.zmdi-arrow-right
							li
								| Запчасти для мелкой бытовой техники
						h2.item-title Запчасти для мелкой бытовой техники
						.sorting.row.no-gutters.align-items-center.justify-content-between
							div 
								span.middle Товаров: 
								b.middle 26
							div 
								span.middle.sorting-title Сортировать по:
								a(href="#").middle.sorting-btn Умолчанию
								a(href="#").middle.sorting-btn.active Цене
								a(href="#").middle.sorting-btn Рейтингу
							div 
								span.middle.sorting-title Показывать по:
								a(href="#").middle.sorting-btn.active 12
								a(href="#").middle.sorting-btn 48
								a(href="#").middle.sorting-btn Все
							.view.hidden-md
								a(href="#" data-target="#view1").view-btn.view-list.middle.active 1
								a(href="#" data-target="#view2").view-btn.view-column.middle 2
								a(href="#" data-target="#view3").view-btn.view-horizontal.middle 3
						.tab-content
							.tab-pane.active#view1
								.list-item
									.row.no-gutters.align-items-center.justify-content-between
										.list-item__photo
											img(src="images/p-img.png", alt="")
										.list-item__name Телескопические направляющие 100%
										.product__status.status-in 
											.middle
												img(src="images/svg/checked.svg", width="20" alt="")
											.middle В наличии 2
										.product__price 
											span 560.00 
											| руб./шт.
										.counter
											a(href="#").counter-btn -
											input(type="text" value="1").counter-field
											a(href="#").counter-btn +
										a(href="#").btn.btn-blue.btn-cart
											img(src="images/svg/supermarket-white.svg", width="22" alt="")
								.list-item
									.row.no-gutters.align-items-center.justify-content-between
										.list-item__photo
											img(src="images/p-img.png", alt="")
										.list-item__name Телескопические направляющие 100%
										.product__status.status-in 
											.middle
												img(src="images/svg/checked.svg", width="20" alt="")
											.middle В наличии 2
										.product__price 
											span 560.00 
											| руб./шт.
										.counter
											a(href="#").counter-btn -
											input(type="text" value="1").counter-field
											a(href="#").counter-btn +
										a(href="#").btn.btn-blue.btn-cart
											img(src="images/svg/supermarket-white.svg", width="22" alt="")
							.tab-pane#view2
								.row
									.col-xl-4.col-md-6
										include pug/product
									.col-xl-4.col-md-6
										include pug/product
									.col-xl-4.col-md-6
										include pug/product
									.col-xl-4.col-md-6
										include pug/product
									.col-xl-4.col-md-6
										include pug/product
									.col-xl-4.col-md-6
										include pug/product
							.tab-pane#view3
								.list-item
									.row.no-gutters.align-items-center.justify-content-between
										.g-photo
											img(src="images/p-img.png", alt="")
										.g-descr
											.row.no-gutters.align-items-center.justify-content-between
												h3.product-title Телескопические направляющие 100%
												.product__rating
													img(src="images/stars.png", alt="")
											.row.no-gutters.justify-content-between
												.g-info
													.g-info__item.row.no-gutters.justify-content-between
														div Артикул
														div 43554
													.g-info__item.row.no-gutters.justify-content-between
														div Производитель
														div Universal
													.g-info__item.row.no-gutters.justify-content-between
														div Страна производитель
														div Италия
												div
													.product__price.product__price--gor
														span 560.00 
														| руб./шт
													.product__status.product__status--gor.status-in
														.middle
															img(src="images/svg/checked.svg", width="20" alt="")
														.middle В наличии 2
											.list-item__footer.row.no-gutters.align-items-center.justify-content-between
												div
													.tooltip.middle
														a(href="#").g-btn
															span.middle.g-btn__icon
																img(src="images/svg/delivery_truck.svg", width="18" alt="")
															span.middle.g-btn__text Доставка
														.tooltip-item
															p 
																| Доставка по Москве 
																br
																| в пределах МКАД)  - 350 руб
															p 
																| Отправка в регионы
																br
																| Почтой России - 300 руб
													.tooltip.middle
														a(href="#").g-btn
															span.middle.g-btn__icon
																img(src="images/svg/shop.svg", width="14" alt="")
															span.middle.g-btn__text Самовывоз
														.tooltip-item
															p 
																| Доставка по Москве 
																br
																| в пределах МКАД)  - 350 руб
															p 
																| Отправка в регионы
																br
																| Почтой России - 300 руб
												div
													.counter
														a(href="#").counter-btn -
														input(type="text" value="1").counter-field
														a(href="#").counter-btn +
													a(href="#").btn.btn-blue 
														img(src="images/svg/supermarket-white.svg",  width="22" alt="").middle.btn-cart-icon
														span.middle В корзину
								.list-item
									.row.no-gutters.align-items-center.justify-content-between
										.g-photo
											img(src="images/p-img.png", alt="")
										.g-descr
											.row.no-gutters.align-items-center.justify-content-between
												h3.product-title Телескопические направляющие 100%
												.product__rating
													img(src="images/stars.png", alt="")
											.row.no-gutters.justify-content-between
												.g-info
													.g-info__item.row.no-gutters.justify-content-between
														div Артикул
														div 43554
													.g-info__item.row.no-gutters.justify-content-between
														div Производитель
														div Universal
													.g-info__item.row.no-gutters.justify-content-between
														div Страна производитель
														div Италия
												div
													.product__price.product__price--gor
														span 560.00 
														| руб./шт
													.product__status.product__status--gor.status-in
														.middle
															img(src="images/svg/checked.svg", width="20" alt="")
														.middle В наличии 2
											.list-item__footer.row.no-gutters.align-items-center.justify-content-between
												div
													.tooltip.middle
														a(href="#").g-btn
															span.middle.g-btn__icon
																img(src="images/svg/delivery_truck.svg", width="18" alt="")
															span.middle.g-btn__text Доставка
														.tooltip-item
															p 
																| Доставка по Москве 
																br
																| в пределах МКАД)  - 350 руб
															p 
																| Отправка в регионы
																br
																| Почтой России - 300 руб
													.tooltip.middle
														a(href="#").g-btn
															span.middle.g-btn__icon
																img(src="images/svg/shop.svg", width="14" alt="")
															span.middle.g-btn__text Самовывоз
														.tooltip-item
															p 
																| Доставка по Москве 
																br
																| в пределах МКАД)  - 350 руб
															p 
																| Отправка в регионы
																br
																| Почтой России - 300 руб
												div
													.counter
														a(href="#").counter-btn -
														input(type="text" value="1").counter-field
														a(href="#").counter-btn +
													a(href="#").btn.btn-blue 
														img(src="images/svg/supermarket-white.svg",  width="22" alt="").middle.btn-cart-icon
														span.middle В корзину
						.pagination.pagination--product
							a(href="#").pagination-btn.pagination-btn--left.middle
							ul.pagination-menu.middle
								li
									a(href="#") 1
								li
									a(href="#").current 2
								li
									a(href="#") 3
								li ...
								li
									a(href="#") 15
							a(href="#").pagination-btn.middle
						.text-block
							h2.item-title О компании
							p
								|  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, culpa quasi tempore assumenda, perferendis sunt. Quo consequatur saepe, commodi maxime.
							p
								|	 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias obcaecati rerum consectetur odit accusamus quam fugiat provident recusandae ipsam blanditiis nostrum voluptates corporis nisi dolores, cumque perferendis quisquam. Itaque nam cupiditate commodi totam nisi ea dicta consequatur debitis, similique eum culpa officiis facere sit, asperiores iusto sint eos laborum labore dolore ad incidunt nihil praesentium! Ipsa, vitae perferendis aspernatur voluptates dolores libero at aperiam exercitationem dolore, neque, soluta asperiores harum commodi numquam odit dolor nam architecto ab officia voluptatum magnam. Libero, quasi soluta a laboriosam, maiores eius excepturi debitis rerum dolores sequi unde consequuntur praesentium expedita nesciunt odio, ullam molestias!
	include pug/footer
	include pug/modals