extends pug/base

append vars
	//- ...

block content
	.wrapper
		include pug/header
		nav.nav.hidden-md
			.container
				ul.nav__menu
					li
						a(href="#") Производители 
					li
						a(href="#") О компании 
					li
						a(href="#") Новости
					li
						a(href="#") Контакты
		.content
			.container
				.row.no-gutters.justify-content-between
					.sidebar.sidebar--inner
						.sidebar__nav
							.sidebar__btn.sidebar__btn--inner Каталог запчастей
							.sidebar__nav__content.sidebar__nav__content--inner
								ul.sidebar__menu
									li
										a(href="#") CANDY TRIO
									li
										a(href="#") Электрические водонагреватели
								.sidebar__title Бренды
								ul.sidebar__menu
									li
										a(href="#") Aquatek
									li
										a(href="#") Ariston
									li
										a(href="#") ASKO
								.sidebar__link 
									a(href="#") Показать все бренды
				.content-wrapp
					ul.breadcrumb
						li
							a(href="#").middle Главная
							span.middle.breadcrumb__delimiter
								i.zmdi.zmdi-arrow-right
						li
							| Контакты
					h2.item-title.page-title Контакты
					.row
						.col-md-6.contact-item
							h3 График работы
							p.contact-text
								| Понедельник- Пятница с 10.00-18.00
								br
								| Суббота и Воскресенье - выходной
						.col-md-6.contact-item
							h3 Контактные телефоны
							p.contact-text
								| +7 (499) 281-67-84
								br
								| +7 (977) 769-16-33
						.col-md-6.contact-item
							h3 E-mail
							p.contact-text
								| manager@tot-market.ru
								br
								a(href="#") Написать письмо
						.col-md-6.contact-item
							h3 Пункт самовывоза
							p.contact-text
								| Метро: Парк Победы, 121293, г. Москва,
								br
								| ул. Поклонная, 11 стр.1, офис 16 (цокольный этаж)
						.col-md-12.contact-item
							h3 Схема проезда на машине:
							.map
								img(src="images/map.jpg", alt="")
	include pug/footer
	include pug/modals