.btn{
	display: inline-block;
	vertical-align: middle;
	border-radius: 50px;
	cursor: pointer;
	outline: 0;
	border: 0;
}
.btn-green{
	font-size: 19.5px;
	font-family: $medium;
	color: #fff;
	padding: 0 35px;
	background: $green;
	height: 40px;
	line-height: 36px;
}
.btn-blue{
	background: #1e88e5;
	color: #fff;
	border-radius: 25px;
	height: 40px;
	line-height: 36px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	font-family: $medium;
}
.btn-form{
	min-width: 170px;
}