.sidebar{
	width: 270px;
}
.center-content{
	width: calc(100% - 300px);
}
.wrapper{
	min-height: calc(100% - 225px);
}
.bottom-block{
	display: inline-block;
	vertical-align: bottom;
}
.content{
	padding: 20px 0;
	padding-bottom: 70px;
}
.slider{
	width: calc(100% - 200px);
}
.links{
	width: 185px;
}
.btn-item{
	height: 103px;
	background: url(../images/blue-bg.jpg)no-repeat;
	font-size: 20px;
	font-family: $bold;
	color: #fff;

	> div{
		width: 100%;
		text-align: center;
	}
	+ .btn-item{
		margin-top: 15px;
	}
	&__text{
		text-align: left;
		max-width: 80px;
	}
	&__content{
		display: inline-block;
	}
	&__icon{
		width: 70px;
	}
}
.advantages{
	margin-top: 30px;
	margin-bottom: 30px;
}
.breadcrumb{
	font-size: 14px;
	margin-bottom: 35px;

	&__delimiter{
		font-size: 16px;
		margin: 0 5px;
	}

	li{
		display: inline-block;
		vertical-align: middle;
		color: #b4b4b4;
	}
	a{
		color: #1578e0;
		border-bottom: 1px solid #1578e0;
	}
}
.delivery-partner{
	margin-top: 100px;
	margin-bottom: 30px;
}
.view-btn{
	border: 1px solid #b8b8b8;
	border-radius: 5px;
	width: 38px;
	height: 38px;
	line-height: 36px;
	text-align: center;

	&.active{
		background: #fbc02d;
		border-color: #fbc02d;
	}

	+ .view-btn{
		margin-left: 7px;
	}
}
.sorting{
	margin-bottom: 25px;
	font-size: 14px;
	color: #808080;
}
.sorting-btn{
	height: 35px;
	line-height: 33px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	color: #808080;
	border: 1px solid #b8b8b8;
	border-radius: 5px;

	&.active,
	&:hover{
		background: #b8b8b8;
		color: #fff;
	}
}
.sorting-btn + .sorting-btn{
	margin-left: 7px;
}
.sorting-title{
	margin-right: 5px;
}