@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DINPro/DINPro.eot');
    src: url('../fonts/DINPro/DINPro.eot') format('embedded-opentype'),
         url('../fonts/DINPro/DINPro.woff2') format('woff2'),
         url('../fonts/DINPro/DINPro.woff') format('woff'),
         url('../fonts/DINPro/DINPro.ttf') format('truetype'),
         url('../fonts/DINPro/DINPro.svg#DINPro') format('svg');
}
@font-face {
    font-family: 'DINProBold';
    src: url('../fonts/DINProBold/DINProBold.eot');
    src: url('../fonts/DINProBold/DINProBold.eot') format('embedded-opentype'),
         url('../fonts/DINProBold/DINProBold.woff2') format('woff2'),
         url('../fonts/DINProBold/DINProBold.woff') format('woff'),
         url('../fonts/DINProBold/DINProBold.ttf') format('truetype'),
         url('../fonts/DINProBold/DINProBold.svg#DINProBold') format('svg');
}
@font-face {
    font-family: 'DINProItalic';
    src: url('../fonts/DINProItalic/DINProItalic.eot');
    src: url('../fonts/DINProItalic/DINProItalic.eot') format('embedded-opentype'),
         url('../fonts/DINProItalic/DINProItalic.woff2') format('woff2'),
         url('../fonts/DINProItalic/DINProItalic.woff') format('woff'),
         url('../fonts/DINProItalic/DINProItalic.ttf') format('truetype'),
         url('../fonts/DINProItalic/DINProItalic.svg#DINProItalic') format('svg');
}
@font-face {
    font-family: 'DINProMedium';
    src: url('../fonts/DINProMedium/DINProMedium.eot');
    src: url('../fonts/DINProMedium/DINProMedium.eot') format('embedded-opentype'),
         url('../fonts/DINProMedium/DINProMedium.woff2') format('woff2'),
         url('../fonts/DINProMedium/DINProMedium.woff') format('woff'),
         url('../fonts/DINProMedium/DINProMedium.ttf') format('truetype'),
         url('../fonts/DINProMedium/DINProMedium.svg#DINProMedium') format('svg');
}
