.footer{
	background: #01579b;
	color: #fff;
	padding: 25px 0;

	&-contacts{
		font-size: 14px;
		font-family: $medium;

		div{
			+ div{
				margin-top: 7px;
			}
		}
	}
}
.footer-menu{
	li{
		+ li{
			margin-top: 10px;
		}
	}
	a{
		color: #fff;
	}
}
.footer-title{
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
	font-family: $bold;
	margin-bottom: 15px;
}
.footer-item{
	max-width: 350px;
}
.paypal{
	margin-bottom: 5px;
	
	&__item{
		display: inline-block;
		vertical-align: middle;
		margin-right: 10px;
		margin-bottom: 10px;
	}
}

.social{
	&__item{
		width: 28px;
		height: 28px;
		border-radius: 50%;
		text-align: center;
		line-height: 28px;
		background: #fff;
		color: $blue2;

		+ .social__item{
			margin-left: 10px;
		}
	}
}