.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 20px;
  cursor: pointer;
  font-size: 14px;
  font-family: $regular;
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 13px;
  height: 13px;
  background: url(../images/check.png)no-repeat;
}
.checkbox:checked + label:after{
  content: "";
  width: 9px;
  height: 7px;
  position: absolute;
  left: 2px;
  top: 5px;
  background: url(../images/002-tick.png)no-repeat;
}
.form-control{
  display: block;
  width: 100%;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 8px;
  font-family: $regular;
  font-size: 14px;
  outline: 0;
}
.form-group{
  margin-bottom: 15px;
}
.form-label{
  font-size: 14px;
  margin-bottom: 10px;
}
.btn-submit{
  width: 140px;
  border: 0;
  outline: 0;
  cursor: pointer;
}