@media(max-width: 1199px){
	.search{
		width: 370px;
	}
	.hidden-lg{
		display: none;
	}
	.nav li + li{
		margin-left: 35px;
	}
	.footer-item{
		&:last-child{
			margin-top: 35px;
		}
	}
	.card-slide{
		height: 300px;
		padding: 10px;

		> div{

			img{
				max-height: 250px;
			}
		}
	}
	.thumb-item{
		width: 85px;
		height: 85px;
		padding: 5px;

		 > div{
		 	img{
		 		max-height: 75px;
		 	}
		 }
	}
	.sorting{
		 > div{
		 	width: 100%;
		 	margin-bottom: 20px;
		 }
	}
	.list-item .product__status{
		text-align: left;
	}
	.g-info{
		width: 100%;
		margin-bottom: 20px;
	}
	.tooltip{
		margin-bottom: 20px;
	}
}

@media(min-width: 992px){
	.visible-md{
		display: none !important;
	}
	.tooltip{
		&:hover{
			.tooltip-item{
				display: block;
			}
		}
	}
}
@media(max-width: 991px){
	.hidden-md{
		display: none;
	}
	.item-title{
		font-size: 24px;
	}
	.content{
		padding-top: 0;
	}
	#view3,
	#view1{
		display: none;
	}
	#view2{
		display: block !important;
	}

	.sidebar{
		margin-top: 0;
		width: 100%;
	}
	.sidebar__nav__content{
		display: none;
	}
	.sidebar__btn{
		font-size: 18px;
		padding: 15px;
		border-radius: 0;
		cursor: pointer;
	}
	.align-items-center-md{
    align-items: center !important;
	}
	.slider{
		margin-bottom: 25px;
	}
	.search{
		width: 305px;
	}
	.center-content{
		width: 100%;
	}
	.logo{
		width: 150px;
	}
	.search__field{
		margin-top: 10px;
	}
	.h-info__tel{
		font-size: 20px;
	}
	.slider{
		width: 100%;
	}
	.links{
		width: 100%;
		margin-top: 15px;
	}
	.btn-item{
		width: 185px;
		display: inline-block;
		vertical-align: top;

		+ .btn-item{
			margin-top: 0;
			margin-left: 10px;
		}
	}
	.top-panel__basket{
		margin-right: 0;
	}
	.cart-icon{
		margin-right: 0;
	}
}
@media(max-width: 767px){
	.footer-item{
		width: 100%;
		max-width: inherit;

		+ .footer-item{
			margin-top: 30px;
		}
	}
	.product__price--large{
		font-size: 21px;
	}
	.product__price--large span{
		font-size: 28px;
	}
	h3,
	h3.h3-middle{
		font-size: 18px;
	}
	.card-info{
		margin-top: 30px;
	}
	.card-info-top{
		text-align: left;
	}
	.card-count{
		text-align: left;
	}
	.item-title{
		font-size: 20px;
	}
	.text-block p + p{
		margin-top: 20px;
	}
}
@media(max-width: 575px){
	.h-info{
		font-size: 14px;
	}
	.hidden-xs{
		display: none;
	}
	.h-info__tel{
		font-size: 16px;
	}
	.payment{
		&__img{
			width: auto;
			text-align: left;
			display: block;
		}
		&__text{
			display: block;
		}
	}
	.thumb-item{
		width: 50px;
		height: 50px;

		> div{
			img{
				max-height: 45px;
			}
		}
	}
	.catalog__item{
		height: 105px;
		font-size: 14px;
	}
	.logo{
		width: 100px;
	}
	.sidebar__btn{
		font-size: 16px;
	}
}