.nav{
	background: #f5f5f5;
	font-family: $medium;
	font-size: 18px;
	padding-top: 12px;
	padding-bottom: 14px;

	&__menu{
		padding-left: 300px;
	}

	li{
		display: inline-block;
		vertical-align: middle;

		+ li{
			margin-left: 100px;
		}
	}
	a{
		color: #3e3e3e;
	}
}