.product{
	color: #3c3c3c;

	&__item{
		border: 1px solid #c4c4c4;
		padding: 30px 15px;
		border-radius: 7px;
		margin-bottom: 30px;
	}
	&__img{
		height: 220px;

		> div{
			text-align: center;
			width: 100%;
		}
		img{
			max-height: 210px;
		}
	}
	&__name{
		font-size: 18px;
		color: #3c3c3c;
		height: 47px;
		line-height: 1.2;
		overflow: hidden;
	}
	&__articul{
		font-size: 14px;
		color: #8b8b8b;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	&__price{
		font-size: 18px;
		margin-bottom: 10px;

		span{
			font-size: 26px;
			font-family: $bold;
		}
	}
	&__status{
		font-size: 14px;
		font-family: $medium;
		margin-bottom: 15px;
	}
	&__rating{
		text-align: right;
	}
}
.status-in{
	color: #60a819;
}
.counter{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;

	&-btn{
		display: inline-block;
		vertical-align: middle;
		border-radius: 50%;
		background: #b0bec5;
		width: 28px;
		height: 28px;
		text-align: center;
		line-height: 26px;
		font-size: 16px;
		font-family: $medium;
		color: #000;
	}
	&-field{
		display: inline-block;
		vertical-align: middle;
		outline: 0;
		width: 28px;
		height: 28px;
		border: 1px solid #b0bec5;
		border-radius: 7px;
		text-align: center;
		font-size: 16px;
		font-family: $medium;
		color: #000;
		margin: 0 5px;
		margin-left: 3px;
	}
}

.product-carousel .slick-slide {
  margin: 0 15px;
}
.product-carousel .slick-list {
  margin: 0 -15px;
}
.carousel-btn{
	width: 38px;
	height: 38px;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #bdbdbd;
}
.prev-btn{
	background: url(../images/left-arrow.png)no-repeat 50%;
}
.next-btn{
	margin-left: 5px;
	background: url(../images/right-arrow.png)no-repeat 50%;
}
.product-carousel-header{
	margin-bottom: 15px;

	h2{
		margin-bottom: 0 !important;
	}
}

.list-item{
	border: 1px solid #c4c4c4;
	padding: 20px;
	border-radius: 7px;
	margin-bottom: 20px;

	.product__status{
		margin-bottom: 0;
	}
	.product__price{
		margin-bottom: 0;
	}
}
.list-item__photo{
	width: 80px;
}
.list-item__name{
	max-width: 200px;
}
.tab-pane{
	display: none;

	&.active{
		display: block;
	}
}
.g-photo{
	width: 180px;
}
.g-descr{
	width: calc(100% - 200px);
}
.g-info{
	width: 415px;

	&__item{
		color: #8b8b8b;
		font-size: 16px;
		border-bottom: 2px dotted #8b8b8b;

		> div{
			background: #fff;
			position: relative;
			top: 6px;
		}

		 + .g-info__item{
		 		margin-top: 5px;
		 }
	}
}
.list-item .product__price--gor{
	margin-bottom: 20px;
}
.list-item .product__status{
	text-align: right;
}
h3.product-title{
	max-width: 250px;
	font-family: $regular;
	font-size: 24px;
}
.g-btn{
	color: #1e88e5;
	font-size: 16px;
	font-family: $medium;

	&__text{
		margin-left: 5px;
	}
	&__icon{
		position: relative;
		top: 1px;
	}
}
.list-item__footer{
	margin-top: 20px;
}
.tooltip{
	position: relative;

	+ .tooltip{
		margin-left: 18px;
	}
}
.tooltip-item{
	position: absolute;
	z-index: 2;
	left: 50%;
	transform: translate(-50%, 0);
	width: 175px;
	background: #fff;
	bottom: 100%;
	padding: 20px 10px;
	border-radius: 10px;
	border: 1px solid #c4c4c4;
	font-size: 12px;
	margin-bottom: 10px;
	display: none;

	&:after{
		content: "";
		display: block;
		width: 17px;
		height: 9px;
		position: absolute;
		z-index: 2;
		left: 50%;
		top: 100%;
		transform: translate(-50%, 0);
		background: url(../images/tooltip.png)no-repeat;
	}

	p{
		+ p{
			margin-top: 12px;
		}
	}
}