.item-title{
	font-size: 28px;
	color: #3c3c3c;
	font-family: $bold;
	margin-bottom: 15px;
}
h3{
	font-size: 22px;
	color: #3c3c3c;
	font-family: $bold;
	margin-bottom: 20px;
}
.link-item{
	color: #1e88e5;
	font-family: $bold;
}
.link-border{
	border-bottom: 1px solid;
}
.text-block{
	line-height: 1.8;

	p{
		+ p{
			margin-top: 40px;
		}
	}
}
.link-btn{
	font-family: $bold;
	color: #1e88e5;
	font-size: 14px;
}
b{
	font-family: $bold;
}
.page-text{
	color: #3c3c3c;
	p{
		margin-bottom: 20px;
	}
}
.page-title{
	margin-bottom: 30px;
}