// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$blue: #0b56a6;
$green: #7cb342;
$main: #3a3a3a;

// FONTS
$regular: 'DINPro';
$bold: 'DINProBold';
$italic: 'DINProItalic';
$medium: 'DINProMedium';